.App {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50vh;
  height: 70vh;
  background-color:rgb(19, 55, 19);
  margin-top: 10vh;
  border-radius: 30px;
}

.profile-pic {
  width: 70%;
  height: 50%;
  border-radius: 10px;
}